body {
    background-image: url(https://source.unsplash.com/1600x900/?nature,water);
    background-repeat: no-repeat;
    
}
h1{
    font-size: 100px;
    text-align: center;
}
p {
    font-size: 60px;
    font-weight: bolder;
    margin-left: 350px;
}
#Click {
    text-align:center;
    margin-left: 580px;
    padding: 10px 20px;
    font-weight: bold;
}
#timer_div {
    margin-left: 550px;
    background-color: black;
}
#reset {
    text-align:center;
    margin-left: 10px;
    padding: 10px 20px;
    font-weight: bold;
}

